{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/signup_styles.css">
{% endblock head %}

{% block content %}
{% parent %}
{% if isUserLoggedIn %}
    <h1>You are already logged in! Click here to navigate to the <a href="/home">home screen</a></h1>
{% else %}
    <div class="col-md-4 col-md-offset-4">
        <!-- SIGNUP FORM -->
        <form action="/signup" method="post" class="signup-form well">
            {% if (errorMessage.length > 0) %}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
            {% endif %}
            <div class="form-group text-center">
                <h2>Sign-up form</h2>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
    
            <button type="submit" class="btn btn-success btn-lg">Sign me up!</button>
            
            <hr>    
            <p>Already have an account? <a href="/">Login</a></p>
        </form>
    
        
    </div>
{% endif %}
{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
