{% extends 'layout.html' %}

{% block title %}{% parent %} - Alert System{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/manageAlerts.css">
    <link rel="stylesheet" href="/styles/css/tagit.ui-zendesk.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagit.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="container well">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Manage Alerts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Button trigger modal -->
            <div class="text-center alerts-btn-container" >
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                    Set up trends.
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalOne">
                    Set up e-mail alerts.
                </button>
            </div>
        </div>
    </div>
    <div class="row alerts-container">
            <div class="col-md-12 ">
                <h2 class="text-center">Trends</h2>
                <h6 class="text-center delete-trends-btn">Delete all Trends</h6>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Stock Data</th>
                            <th class="text-center">Alert Criterion</th>
                        </tr>
                    </thead>
                    <tbody class="trends-table" data-userid='{{user.id}}'>
                    </tbody>
                </table>            
            </div>       
        </div>
        <div class="row email-alerts-container">
            <div class="col-md-12 ">
                <h2 class="text-center">Email alerts</h2>
                <h6 class="text-center delete-alerts-btn">Delete all alerts</h6>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Alert Criterion</th>
                        </tr>
                    </thead>
                    <tbody class="email-alerts" data-useremail="{{user.local.email}}">
                    </tbody>
                </table>            
            </div>       
        </div>
    </div>    
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Check box to subscribe to alerts</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class='stock-symbol-picker'>
                        <input type='text' name="stock-symbol" class="form-control" id="stock-tags"/>
                        <div id="autocomplete-container">
                        </div>
                    </div>
                    <ul class="alert-options">
                        <li><input class="alertone" type="radio" name="alert">Market cap is larger than 500 M.<br></li>
                        <li><input class="alerttwo" type="radio" name="alert">Market cap is larger than 200 M.<br></li>
                        <li><input class="alertthree" type="radio" name="alert">One Day Performance of the stock.<br></li>
                        <li><input class="alertfour" type="radio" name="alert">Three Days Performance of the stock.<br></li>
                        <li><input class="alertfive" type="radio" name="alert">Get moving averages for the stock..<br></li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <p class="text-danger"></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" data-userid='{{user.id}}' class="btn btn-primary memory-alert-subscription">View Trends</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - 1 -->
<div class="modal fade" id="myModalOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOne">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelOne">Fill the form below to receive email alerts</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <select class="form-control moving-average-high">
                            <option disabled selected>X Day moving average higher</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control moving-average-low">
                            <option disabled selected>X Day moving average lower</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>200</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="notify-moving-average">
                                Notify Moving Average
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="notify-stock-performance">
                                Notify stock performance
                            </label>
                        </div>
                        <!--<div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="notify-market-cap">
                                Notify Market Cap.
                            </label>
                        </div>-->
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="performance-relative-market">
                                Notify stock performance relative to market.
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="market-cap-high">
                                Notify for values higher than market cap.
                            </label>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <label for="marketCap">Market Cap</label>
                        <input type="number" class="form-control" id="marketCap" placeholder="Enter a value to be notified of market cap trends.">
                    </div>
                    <div class="form-group">
                        <label for="stockPerformanceLow">Stock Performance Low Range</label>
                        <input type="number" class="form-control" id="stockPerformanceLow" placeholder="Enter a value">
                    </div>
                    <div class="form-group">
                        <label for="stockPerformanceHigh">Stock Performance High Range</label>
                        <input type="number" class="form-control" id="stockPerformanceHigh" placeholder="Enter a value">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p class="text-danger"></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" data-email='{{user.local.email}}' class="btn btn-primary memory-notification-subscription">Get Alerts</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js\jquery_ui.min.js"></script>
    <script src="js\tag-it.min.js"></script>
    <script src="js\alertSystem.js"></script>
{% endblock scripts %}
