{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
     <link rel="stylesheet" href="/bootstrap/css/bootstrapDatetimePicker.css">
     <link rel="stylesheet" href="/styles/css/tagit.ui-zendesk.css">
     <link rel="stylesheet" href="/styles/css/jquery.tagit.css">
{% endblock head %}

{% block content %}
{% parent %}
<div class="container-fluid">
    <!-- Stock symbol and date-time picker-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
            <form class="user-input">
                 <div class="row">
                    <div class='col-md-3 col-md-offset-1'>
                        <div class="form-group">
                            <div class='stock-symbol-picker'>
                                <input type='text' name="stockSymbol" class="form-control" id="stock-tags"/>
                                <div id="autocomplete-container">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" placeholder="Select Start Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" placeholder="Select End Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class="form-group">
                            <button class="btn btn-default btn-warning" id="analyze-btn">Analyze!</button>
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
    
    <!-- Display the graph -->
   
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="timer-loader">
                    Loading…
            </div>
            <div id="stock-chart" class="my-chart">
            </div>
            <!--<div class="form-group">
                <button class="btn btn-default btn-default show-moving-avg">Show moving averages!</button>
            </div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="timer-loader-2">
                    Loading…
            </div>
            <div id="moving-avg-chart" class="my-chart">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js\highstock.js"></script>
    <script src="js\myCharts.js"></script>
    <Script src="js\movingAveragesChart.js"></script>
    <script src="js\moment.min.js"></script>
    <script src="js\datetimepicker.js"></script>
    <script src="js\jquery_ui.min.js"></script>
    <script src="js\tag-it.min.js"></script>
    <script src="js\myscript.js"></script>
{% endblock scripts %}
