{% extends 'layout.html' %}

{% block title %}{% parent %} - Home{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/index_styles.css">
{% endblock head %}

{% block content %}
{% parent %}
{% if isUserLoggedIn %}
    <h1>You are already logged in! Click here to navigate to the <a href="/home">home screen</a></h1>
{% else %}
    <div class="col-md-4 col-md-offset-4">
        <!-- login form -->
        <form action="/" method="post" class="login-form well">
            {% if (errorMessage.length > 0) %}
                <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
            {% endif %}
            <div class="form-group text-center">
                <h2>Log-in form</h2>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
            
            <hr>    
            <p class="help-text">Need an account? <a href="/signup">Signup here</a></p>
        </form>
    
        
    </div>
{% endif %}

{% endblock content %}

{% block scripts %}
    {% parent %}
{% endblock scripts %}
