<!DOCTYPE html>
<html html lang="en-us">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}UBC - Capstone{% endblock %}</title>

        {% block head %}
        <link rel="" type="image/x-icon" href="" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/css/mystyles.css">
        {% endblock head %}
    </head>

    <body>
        {% block content %}
					<nav class="navbar navbar-inverse">
						<div class="container">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/">Memory Alert System</a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<!--<ul class="nav navbar-nav">
								</ul>-->
								<ul class="nav navbar-nav navbar-right">
									{% if isUserLoggedIn %}
                                    <li><a href="/home">Home</a></li>
                                    <li><a class="alert-dashboard-btn" href="/alertsystem">Alerts Dashboard</a></li>
									<li><a class="logout-btn" href="/logout">Log-out</a></li>
									{% else %}
									<li><a href="/signup">Sign-up</a></li>
									{% endif %}
									<!--<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DropDown<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#">About us</a></li>
											<li><a href="#">Another action</a></li>
                                        </ul>
									</li>-->
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
        {% endblock content %}
        
        {% block scripts %}
        <script src="js\jquery-2.1.4.min.js"></script>
        <script src="bootstrap\js\bootstrap.min.js"></script>
        {% endblock scripts %}
    </body>
</html>