// Manage Alerts specific styles.
.alert-options {
    list-style: none;
}

.alerts-btn-container {
    margin: 40px;
    
    .btn {
        margin: 10px;
    }
}

.delete-alerts-btn, .delete-trends-btn {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}